# Скопируйте этот файл в .env и подставьте свой JWT
JWT_SECRET= ???

# Auth service
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres

# Event service
EVENT_POSTGRES_USER=postgres
EVENT_POSTGRES_PASSWORD=postgres

# Booking service
BOOKING_POSTGRES_USER=postgres
BOOKING_POSTGRES_PASSWORD=postgres

# Notification service
NOTIFICATION_POSTGRES_USER=postgres
NOTIFICATION_POSTGRES_PASSWORD=postgres

EVENT_INTERNAL_API_KEY=?
BOOKING_INTERNAL_API_KEY=?

MAIL_HOST=smtp.mail.ru
MAIL_PORT=465
MAIL_USERNAME=example@mail.ru
MAIL_PASSWORD=password